@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@400;500 & display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/** --- Global variables --- */

:root {
    /* Base colors */
    --accent-color     : #FF0000;
    --grey-color       : #909090;
    --grey-color-alt   : #CCC;
    --border-color     : rgba(0, 0, 0, 0.1);

    /* Background colors */
    --bg-color         : #FFF;
    --bg-color-alt     : #F9F9F9;
    --bg-color-active  : #E5E5E5; 
    
    /* Text colors */
    --text-color       : #030303;
    --text-color-alt   : #606060;
    --text-color-white : #FFF;

    /* Fonts */
    --body-font        : 'Roboto', sans-serif;
    --icon-font        : 'icomoon';

    /* Font sizes */
    --big-font-size    : 1.125rem;  /* 18px */
    --normal-font-size : 1rem;      /* 16px */
    --small-font-size  : 0.875rem;  /* 14px */
    --smaller-font-size: 0.75rem;   /* 12px */
    --font-bold        : 500;

    /* Other */
    --header-height    : 56px;
    --sidebar-width    : 240px;
    --z-tooltip        : 25;
    --z-fixed          : 100;
    --border-radius    : 2px;
    --transition-time  : 0.25s;
} 

body {
    font-family: var(--body-font);
    background-color: var(--bg-color-alt);
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
    font-weight: var(--font-bold);
}

button {
    font-family: var(--body-font);
}

img {
    width: 100%;
}

.place-center {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.buttons-container {
    display: flex;
    gap: 0.5rem;
}

/** --- Main header --- */

.main-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: var(--header-height);
    background-color: var(--bg-color);
    z-index: var(--z-fixed);
}

.main-header .start .action-button{
    margin-right: 1rem;
}

.main-header .logo {
    width: 6rem;
}

.main-header .middle {
    flex-basis: 720px;
    padding: 0 2rem;
}

.main-header .form-search {
    flex-grow: 1;  
    align-items: stretch;
}

.main-header .input {
    flex-grow: 1; 
    padding: 0.5rem;
    border: 1px solid var(--border-color); 
    border-right: 0;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.main-header .submit {
    padding: 0 1.5rem;
    border: 1px solid var(--border-color); 
    color: var(--text-color-alt);
    font-size: 1.25rem;
    border-radius: 0  var(--border-radius) var(--border-radius) 0;
    cursor: pointer;
}

.main-header .user {
    padding: 0 1rem;
}

/* User avatar */
.user-avatar {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    flex: none;
}

.user-avatar .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Action buttons */
.action-button {
    --size: 2.5rem;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid transparent;
    background: none;
    transition: border-color 0.25s;
}

.action-button::before {
    color: var(--text-color-alt);
    font-size: 1.5rem;
}

.action-button:active {
    background-color: var(--bg-color-active);
    border-color: var(--bg-color-active);
}

/* Tooltip  */
[data-tooltip] {
    position: relative;
}

[data-tooltip]:hover::after {
    opacity: 1;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    top: 3.5rem;
    transform: translateX(-50%);
    padding: 0.5rem;
    background-color: var(--text-color-alt);
    color: var(--text-color-white);
    font-family: var(--body-font);
    font-size: var(--smaller-font-size);
    border-radius: var(--border-radius);
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition-time);
}

/** --- Sidebar --- */

.main-sidebar {
    --main-nav-padding: 0.5rem 1.5rem;
    position: fixed;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    width: var(--sidebar-width);
    padding: 0.75rem 0;
    background-color: var(--bg-color);
    overflow: auto;
}

/* Nav items */
.main-sidebar .link {
    display: flex;
    align-items: center;
    padding: var(--main-nav-padding);
    color: var(--text-color);
    font-size: var(--small-font-size);
    text-decoration: none;

}

.main-nav .link.is-active,
.main-nav .link:hover {
    background-color: var(--bg-color-alt);
}

.main-nav .link.is-active {
    font-weight: var(--font-bold);
}

/* Nav icons */
.main-nav .link .icon {
    margin-right: 1.5rem;
    font-size: 1.5rem;
    color: var(--text-color-alt);
}

.main-nav .link.is-active .icon {
    color: var(--accent-color);
}